extends layout 

block content 
        h1= title
        form(method="POST" action="/login")
           
            .form-group
                label(for='username') Usernamingizni yozing
                input#username.form-control(type='text' name="username")
         
            .form-group
                label(for='password') Parolingizni yozing
                input#password.form-control(type='password' name="password")
   
            button.btn.btn-primary(type='submit') Kirish
